@import url("common.css");

div#gf_hits {
    overflow-y: auto;
    height: 40%;
}

table#hits_table {
    width: 100%;
}

table#hits_table th,td {
    width: 29%;
    border-bottom: 1px solid #ddd;
}
