html, body {
	height: 100%;
	margin: 0px;
	padding: 0px;
	background: black;
	color: #FCEFA1;
    font-size: 12px;
}

div#sidebar {
    position: absolute;
    top: 0px;
    left: 0px;
    width: 30%;
    height: 100%;
    margin-right: 5px;
    padding: 3px;
}

div#canvas {
    position: absolute;
    top: 0px;
    right: 0px;
    width: 70%;
    height: 100%;
    margin-left: 5px;
}

div#gf_hits {
    overflow-y: auto;
    height: 40%;
}

table#hits_table {
    width: 100%;
}

table#hits_table th,td {
    width: 29%;
    border-bottom: 1px solid #ddd;
}
